# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
React-Basic/node_modules
React-Hooks-Udemy/node_modules
React-Hooks-Http/node_modules
React-Redux-Advance/node_modules
React-Redux-Basic/node_modules
React-Router/node_modules
React-Form/node_modules
React-Basic-V2/node_modules

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
